body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bhailog.jpg");
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 12px 34px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: red;
}

.topnav a.active {
  background-color: yellow;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
p.a {
  font-style: normal;
}

p.b {
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 100px;
}

.c {
  font-style: oblique;
  color: green;
}
